//non-framework stylings
img.slender-img {
	width:20% !important;
	height: auto !important;
}

.logo {
	width: 20%;
	height:auto;
}

.profile-img {
	width:60px;
	height:auto; 
	border:1px solid black;"  
}

.no-bullet {
	list-style: none;
}

.text-center {
	text-align: center;
}

figcaption {
	margin: 10px 0 10px 0;
}

.comment {
	border: 1px solid #bbbbbb;
	padding: 10px;
}
